{%  load static %}
<!DOCTYPE html>
<html>

<head>
    <title>INVENTIX</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles\Home.css' %}">

</head>

<body>

    <!--Menu Bar-->

    
    <header>
        <a href="#" class="logo">INVENTIX</a>
        <ul>
            <li><a href="#" class="active">Home</a></li>
            <li><a href="event">Events</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">ContactUs</a></li>
        </ul>
    </header>

    <br><br><br><br>


    <!--Logo-->
    <center>
        <div>
            <img src="{% static 'images\white.png' %}">
        </div>
    </center>



    <!--Introduction-->
    <center>
        <div class="one">
            <p class="one">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. In metus vulputate eu scelerisque felis imperdiet proin fermentum leo.
                Tortor condimentum lacinia quis vel eros donec ac. Ligula ullamcorper malesuada proin libero nunc
                consequat interdum. Sed enim ut sem viverra aliquet eget sit amet tellus. Vehicula ipsum a arcu cursus
                vitae congue. Amet porttitor eget dolor morbi non. A diam maecenas sed enim ut sem. Elit ut aliquam
                purus sit amet luctus venenatis lectus. Mattis nunc sed blandit libero volutpat sed cras ornare arcu.
                Viverra suspendisse potenti nullam ac tortor vitae. Aliquet eget sit amet tellus. Velit euismod in
                pellentesque massa placerat duis ultricies lacus. Pulvinar sapien et ligula ullamcorper malesuada.
                Sapien faucibus et molestie ac. Senectus et netus et malesuada fames ac turpis egestas. Neque egestas
                congue quisque egestas diam in arcu cursus euismod. Id diam vel quam elementum pulvinar etiam.</p>

            <p class="one"> Blandit aliquam etiam erat velit scelerisque in. Nibh cras pulvinar mattis nunc. Feugiat in
                ante metus dictum at. Tincidunt id aliquet risus feugiat. Venenatis lectus magna fringilla urna
                porttitor rhoncus dolor purus. Rhoncus mattis rhoncus urna neque. Aliquet enim tortor at auctor. Dui
                nunc mattis enim ut tellus. Tellus cras adipiscing enim eu turpis egestas pretium. Proin fermentum leo
                vel orci porta non. Duis at tellus at urna condimentum mattis pellentesque. Imperdiet dui accumsan sit
                amet nulla facilisi morbi. Commodo elit at imperdiet dui accumsan sit amet nulla. Egestas diam in arcu
                cursus euismod quis viverra nibh cras. Sollicitudin tempor id eu nisl nunc mi.</p>

                

        </div>
    </center>


    <br><br><br><br>




</body>

</html>